<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Editar Campground</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds/<%=campground.id%>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Título</label>
                <input class="form-control" type="text" id="title" name="campground[title]"
                    value="<%=campground.title %>" required>
                <div class="valid-feedback">
                    Parece bom!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Localidade</label>
                <input class="form-control" type="text" id="location" name="campground[location]"
                    value="<%=campground.location %>" required>
                <div class="valid-feedback">
                    Parece bom!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Preço da diária</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="campground[price]" value="<%=campground.price %>"
                        required><div class="valid-feedback">
                        Parece bom!
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Descrição</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                    required><%= campground.description%></textarea>
                <div class="valid-feedback">
                    Parece bom!
                </div>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Adicionar mais imagens...</span>
                        <span class="form-file-button">Pesquisar</span>
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <% campground.Images.forEach(function(img, i) {  %>

                <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="imagem do campground">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                </div>
                <label for="image-<%=i%>">Deletar?</label>
                <% })%>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Atualizar Campground</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground.id%>">Voltar para o Campground</a>

    </div>
</div>